# Editors
.vs
.vscode

# Temp build files
*.dep *.aps *.vbw *.suo *.obj *.ncb *.plg *.bsc *.ilk
*.exp *.sbr *.opt *.pdb *.idb *.pch *.res *.user

# Build dirs
*\obj
*\bin
*\Debug
*\Release

# Binaries
*.exe
*.dll